<div>
  <%= flash[:notice] %>
</div>
<div>
  <div class="mt-5 mb-3">
  <%= image_tag @post.get_image, size: "500x500" %>
  </div>
  <p>ホテル名：<%= @post.title %></p>
  <p>宿泊記録：<%= @post.body %></p>
  <p>投稿ユーザー画像：<%= image_tag @post.user.get_profile_image(100,100) %></p>
  <p>ユーザーネーム：<%= @post.user.name %></p>
  <p>投稿日：<%= @post.created_at.strftime('%Y/%m/%d') %></p>
  <% if @post.user == current_user %>
    <%= link_to "投稿編集", edit_post_path(@post) %>
  <% end %>
  <%= link_to "戻る", posts_path %>
</div>

<div>
  <p>コメント件数：<%= @post.comments.count %></p>
  <% @post.comments.each do |comment| %>
    <%= link_to user_path(comment.user.id) do %>
      <%= image_tag comment.user.get_profile_image(50,50) %>
    <% end %>
    <%= comment.user.name %> : <%= comment.created_at.strftime('%Y/%m/%d') %><br/>
    コメント：<%= comment.comment %><br/>
    <% if comment.user == current_user %>
      <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete,  data: { confirm: "本当に削除しますか？" }   %>
    <% end %>
  <% end %>
</div>
<div>
  <%= form_with model: [@post, @comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>