<% breadcrumb :post_show, @post %>
<div>
  <%= flash[:notice] %>
</div>
<div>
  <div class="mt-5 mb-3">
  <%= image_tag @post.get_image, size: "500x500" %>
  </div>
  <% if @post.status == "nonreleased" %>
　  <p>【非公開中の投稿】</p>
　<% end %>
  <p>ホテル名：<%= @post.title %></p>
  <p>宿泊記録：<%= @post.body %></p>
  <p><i class="fa-solid fa-tags"></i>:
    <% @post.tags.each do |tag| %>
      <%= link_to tag.name, posts_path(tag_id: tag.id)%>
    <% end %>
  </p>
  <p>投稿ユーザー画像：
      <%= link_to user_path(@post.user.id) do %>
        <%= image_tag @post.user.get_profile_image(100,100) %></p>
      <% end %>
  <p>ユーザーネーム：<%= @post.user.name %></p>
  <p>投稿日：<%= @post.created_at.strftime('%Y/%m/%d') %></p>
  <% if @post.user == current_user %>
    <% if @post.released? %>
      <%= link_to '非公開にする', nonrelease_path(@post), :class => "btn btn-secondary mx-1 my-2", method: :patch %>
    <% else %>
      <%= link_to '公開する', release_path(@post),:class => "btn btn-primary mx-1 my-2", method: :patch %>
    <% end %>
    <%= link_to "投稿編集", edit_post_path(@post) %>
  <% end %>
  <% if @post.liked_by?(current_user) %>
    <p>
      <%= link_to post_like_path(@post), method: :delete, style: "color: red;" do %>
        <i class="fa-solid fa-heart fa-lg"></i><%= @post.likes.count %>
      <% end %>
      |<i class="fa-regular fa-comment fa-lg" style="color: black;"></i><%= @post.comments.count %>
    </p>
    <% else %>
    <p>
      <%= link_to post_like_path(@post), method: :post do %>
       <i class="fa-regular fa-heart fa-lg" style="color: #1183ee;"></i><%= @post.likes.count %> 
      <% end %>
      | <i class="fa-regular fa-comment fa-lg" style="color: black;"></i><%= @post.comments.count %>
    </p>
  <% end %>
</div>
<div>
  <% @post.comments.each do |comment| %>
    <%= link_to user_path(comment.user.id) do %>
      <%= image_tag comment.user.get_profile_image(50,50) %>
    <% end %>
    <%= comment.user.name %> : <%= comment.created_at.strftime('%Y/%m/%d') %><br/>
    コメント：<%= comment.comment %><br/>
    <% if comment.user == current_user %>
      <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete,  data: { confirm: "本当に削除しますか？" }   %>
    <% end %>
  <% end %>
</div>
<% unless current_user.guest_user? %> 
<div>
  <%= form_with model: [@post, @comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>
<% end %>