<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto text-center shadow-lg rounded px-0 my-5">
      <h5 class="bg-white py-4 mb-0"><%= image_tag 'Hotel_Diaryロゴ.png' %></h5>
      <div class="form-body p-4">
         <div class="mx-auto text-center">
        <%= form_with model: @user, url: user_registration_path do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" aria-hidden="true"><i class="fa-solid fa-user"></i></span>
            </div>
            <%= f.text_field :name, class: "form-control", placeholder: "ユーザー名" %>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" aria-hidden="true"><i class="fa-solid fa-envelope"></i></span>
            </div>
              <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "メールアドレス" %>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" aria-hidden="true"><i class="fa-solid fa-lock"></i></span>
            </div>
                <%= f.password_field :password, autocomplete: "new-password" , class: "form-control", placeholder: "パスワード" %>
          </div>
             
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" aria-hidden="true"><i class="fa-solid fa-spell-check"></i></span>
            </div>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "パスワード確認" %>
          </div>
          <%= f.submit "新規登録", class:"btn btn-lg btn-block btn-success mt-5" %>
          <% end %>
     </div>
    </div>
  </div>
</div>
