<h1>ユーザー一覧</h1>
<div>
  <%= flash[:notice] %>
</div>
<ul>
  <% @users.each do |user| %>
    <li>
      <%= user.name %> - <%= user.email %>
      <%= link_to '詳細', admin_user_path(user) %>
      <% if user.is_active == false %>
        <%= ":退会済み"%>
      <% end %>
      <% if user.is_deleted == false %>
        <%= ":強制退会済み"%>
      <% end %>

    </li>
  <% end %>
</ul>